@font-face {
    font-family: 'FontAwesome';
    src: url('{{ asset('fonts/fontawesome-webfont.eot') }}');
    src: url('{{ asset('fonts/fontawesome-webfont.woff2') }}') format('woff2'),
         url('{{ asset('fonts/fontawesome-webfont.woff') }}') format('woff'),
         url('{{ asset('fonts/fontawesome-webfont.ttf') }}') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Themify';
    src: url('{{ asset('fonts/themify.eot') }}');
    src: url('{{ asset('fonts/themify.woff') }}') format('woff'),
         url('{{ asset('fonts/themify.ttf') }}') format('truetype'),
         url('{{ asset('fonts/themify.svg#themify') }}') format('svg');
}
